<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="DbConnection1" connectionString="Custom Connection here"/>
    <add name="DbConnection2" connectionString="Custom Connection2 here"/>
  </connectionStrings>

  <appSettings>

    <!-- Utilized with Hosting -->
    <add key="Environment" value="Development" />

    <!-- Utilized with IConfiguration-->
    <add key="SomeKey1" value="One"/>
    <add key="SomeKey2" value="Two"/>

    <!-- Utilized with IOptions -->
    <add key="TestOptions:Id" value="45678"/>
    <add key="TestOptions:ArrayValue:0" value="value1"/>
    <add key="TestOptions:ArrayValue:1" value="value2"/>
    <add key="TestOptions:ArrayValue:2" value="value3"/>

  </appSettings>
</configuration>
