<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Custom Connection here"/>
    <add name="ConnectionString2" connectionString="Custom Connection2 here"/>
  </connectionStrings>

  <appSettings>
    <add key="SomeKey1" value="One"/>
    <add key="SomeKey2" value="Two"/>
  </appSettings>
</configuration>
